name: CI

on:
  push:
    branches: master
    paths:
      - node/**
  pull_request:
    branches: master
    paths:
      - node/**

defaults:
  run:
    working-directory: node

jobs:
  node:
    permissions:
      contents: read
    timeout-minutes: 60
    strategy:
      fail-fast: false
      matrix:
        python-version:
          - '3.12'
          - '3.13'
          - '3.14'
    runs-on: ubuntu-latest
    steps:
        # 4.2.2
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
        with:
          persist-credentials: false

      - name: Configure git
        run: |
          git config --global user.name 'github-actions[bot]'
          git config --global user.email '41898282+github-actions[bot]@users.noreply.github.com'

        # 5.6.0
      - uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065
        with:
          python-version: ${{ matrix.python-version }}

      - name: Setup Poetry
        run: |
          curl -sSL https://install.python-poetry.org | python3 -
          sudo ln -s /github/home/.local/bin/poetry /usr/bin/poetry

      - name: Install OS dependencies
        run: sudo apt-get update && sudo apt-get install -y flatpak-builder

      - name: Install Flatpak dependencies
        run: |
          flatpak --user remote-add flathub https://flathub.org/repo/flathub.flatpakrepo
          flatpak --user install -y flathub \
            org.freedesktop.{Platform,Sdk{,.Extension.node{20,22,24}}}//25.08

      - name: Install dependencies
        run: poetry install --with=dev

      - name: Run checks
        run: poetry run poe check
